# Excluir el entorno virtual
venv/
__pycache__/

# Archivos de VS Code
.vscode/
*.code-workspace

# Otros archivos generados automáticamente
*.pyc
*.pyo
*.log
*.sqlite3

# Variables de entorno (contienen credenciales)
.env

# Archivo temporal de búsqueda/query
query

